# %NAME
%DESCRIPTION

# Prerequisites
- [Python 3.9+](https://www.python.org/downloads/)
- [Docker](https://www.docker.com/) (optional)
- [Git](https://git-scm.com/) 

# Installtion Steps
1. Clone the repository ```bash
git clone %GITHUB_URL
```
2. Install the requirements ```bash
pip install -r requirements.txt
```
3. Run the bot ```
python launcher.py
```